.hero {
  background: linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)
  ), url('../../image/Logo.png') center/contain no-repeat;

  height: 70vh;
  display: flex;
  align-items: center;
  padding: 60px;
  color: white;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: var(--secundario);
  color: black;
  padding: 12px 25px;
  border-radius: 6px;
  font-weight: bold;
}
    