* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-principal);
    background-color: var(--color-secundario);
    color: var(--color-texto);
}

main {
    padding: 20px;
}
