* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fuente);
}

body {
  background-color: var(--fondo);
  color: var(--texto);
}

main {
  padding: 40px;
  max-width: 1000px;
  margin: auto;
}

section {
  margin-bottom: 40px;
}

h1, h2 {
  color: var(--primario);
  margin-bottom: 10px;
}

p, li {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: white;
}
