header {
    background-color: var(--color-primario);
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
