header {
  background-color: var(--primario);
  color: white;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 1.8rem;
}

nav a {
  margin-left: 20px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
